:root {
  --border-radius: 15px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  scroll-padding-top: 150px;
}
body {
  background-color: #f8e5d7;
  font-family: roboto, arial;
  height: 3100px;
}

/* navbar start */

nav {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  padding-right: 25px;
  background-color: #796962;
  font-weight: bold;
  position: fixed;
  z-index: 9999;
  width: 100%;
  top: 0;
}
nav a {
  text-decoration: none;
  color: black;
  padding: 10px;
  border-radius: var(--border-radius);
}
nav a:hover {
  color: white;
}
.list {
  display: flex;
  list-style: none;
  gap: 25px;
}

#toggler,
.fa-bars {
  display: none;
}
/* navbar end */

/* container hero start */
.container-hero {
  max-width: 1224px;
  width: 90%;
  margin: auto;
  margin-top: 40px;
}
.title-hero {
  width: 100%;
  font-size: 40px;
  font-weight: 700;
  text-align: center;
  border: 4px black solid;
  border-radius: var(--border-radius);
  padding: 20px;
  margin-top: 150px;
}
.images-hero {
  text-align: center;
  padding: 40px;
}
img {
  border-radius: var(--border-radius);
  margin: 5px;
}
.marquee-text {
  width: 100%;
  background-color: pink;
  font-size: 2rem;
  font-weight: bold;
  margin-top: 15px;
  padding: 15px;
  display: inline-block;
  border-radius: var(--border-radius);
  overflow: hidden;
}

/* container hero end */

/* container menu start */
.container-menu {
  border: 4px black solid;
  border-radius: var(--border-radius);
  max-width: 1224px;
  width: 90%;
  margin: auto;
  padding: 40px;
}
.menu-title {
  font-size: 50px;
}
p {
  font-size: 15px;
}
.menu-column {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
}
/* container menu end */

/* container - promo start */
.container-promotion {
  font-size: 20px;
  max-width: 1224px;
  height: 500px;
  margin: auto;
  margin-top: 40px;
  text-align: center;
}
.boxes-promo {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 40px;
}
.promo-img img {
  width: 100%;
  border: 4px solid;
}
/* container promo end */

/* container contact-about start */
.container-aboutus {
  border: 4px black solid;
  border-radius: var(--border-radius);
  width: 1224px;
  padding: 20px;

  margin: auto;
  gap: 20px;
}
.cafe-img-column {
  display: flex;
  gap: 20px;
}
.aboutus-txt h2 {
  font-size: 50px;
  margin-top: 100px;
}
.aboutus-txt p {
  font-size: 40px;
}
button {
  font-size: 20px;
  width: 250px;
  height: 60px;
  margin-top: 40px;
  border: 2px solid;
  border-radius: 10px;
  background-color: #b99c60;
  cursor: pointer;
}
button:hover {
  background-color: burlywood;
  /* container about us end */
}
/* container contact us start*/
.container-footer {
  border: 4px solid;
  border-radius: 15px;
  width: 1224px;

  margin: auto;
  margin-top: 40px;
  padding: 20px;
}
.footer-column {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.container-location {
  padding: 80px;
}
.container-contact {
  font-size: 20px;
}
.sosmed {
  font-size: 30px;
  margin-top: 15px;
}
.input-box input,
textarea {
  width: 100%;
  font-size: 20px;
  margin-bottom: 8px;
}

footer p {
  padding: 40px;
  font-size: xx-small;
  text-align: center;
}
/* container contact us end */

/* media responsive for mobile */
@media (max-width: 430px) {
  nav {
    width: 100%;
    top: 0;
    padding-right: 25px;
  }
  .list {
  }
  .menu {
    width: 100%;
    max-height: 0;
    overflow: hidden;
  }
  .fa-bars {
    display: inline-flex;
  }
  #toggler:checked ~ .menu {
    max-height: 100%;
  }
  .list {
    flex-direction: column;
    align-items: center;
    padding: 20px;
  }
  .title-hero {
    width: 100%;
    text-align: center;
    margin-top: 200px;
    font-size: 15px;
  }
  .gallery {
    margin: auto;
  }
  .images-hero {
    flex-direction: column;
  }
  .images-hero img {
    width: 100%;
  }
  .menu-column {
    grid-template-columns: 1fr;
  }
  .menu-column h2 {
    padding: 25px 0 5px 0;
  }
  .container-promotion {
    margin-bottom: 120px;
  }
  .boxes-promo {
    display: grid;

    grid-template-columns: 1fr 1fr;
    padding-left: 20px;
    padding-right: 20px;
    margin-top: 20px;
  }
  .container-aboutus {
    width: 350px;
  }
  .cafe-img-column {
    flex-direction: column;
  }
  .cafe-img img {
    width: 100%;
    text-align: center;
  }
  .aboutus-txt h2 {
    margin-top: -10px;
    font-size: 25px;
  }
  .aboutus-txt p {
    font-size: 20px;
  }
  .container-footer {
    width: 350px;
  }
  .footer-column {
    display: flex;
    flex-direction: column;
  }
  .map iframe {
    width: 300px;
  }
}
